---
---

<section class="w-full bg-cover bg-center flex items-center justify-center font-open-sans">
  <div class="max-w-4xl w-full mx-4 sm:mx-8 text-center flex flex-col mt-10 mb-10">
    <h2 class="text-gray-500 mb-8 tracking-wide uppercase">
      Mantengamos el contacto
    </h2>
    <div class="w-full flex justify-between items-center flex-col md:flex-row gap-8">
      <div class="flex flex-col gap-6 text-gray-400 items-start">
        <p class="text-white text-2xl mb-4">O, aún mejor, ¡ven a visitarnos!</p>
        <a
          href="https://ig.me/m/inventarioccp"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-300 transition-colors duration-300 cursor-pointer">
          Agenda una visita
        </a>
        <h3 class="text-white text-2xl mt-2">Inventario</h3>
        <p class="text-gray-400">Concepción, Biobío, Chile</p>
        <a
          href="https://instagram.com/inventarioccp"
          target="_blank"
          rel="noopener noreferrer"
          class="mt-6 px-6 py-2 bg-gray-700 text-white rounded-2xl hover:bg-gray-800 inline-block cursor-pointer self-center">
          Comunícate con nosotros
        </a>
      </div>
      <div class="flex-shrink-0">
        <img
          src="/img/inventario_icon.webp"
          alt="Inventario Logo"
          class="max-w-sm rounded-full shadow-xl"
        />
      </div>
    </div>
  </div>
</section>
