---
import { gallery } from '../locales/es/common.json'
---

<section class="w-full bg-cover bg-center flex items-center justify-center">
  <div class="max-w-6xl mx-4 sm:mx-8 text-center flex flex-col mt-10 mb-10">
    <h2 class="text-1xl font-bold text-gray-500 mb-8 tracking-wide uppercase font-open-sans w-full flex">
      Galería de fotográfica
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-2 w-full">
      {gallery.map(item => (
        <div class="relative group rounded-sm overflow-hidden">
          <img
            src={item.img}
            alt={item.name}
            class="w-full h-auto object-cover transition-transform duration-300 group-hover:scale-115"
          />
          <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 flex items-center justify-center transition-colors">
            <span class="text-white text-lg font-semibold opacity-0 group-hover:opacity-100">
              {item.name}
            </span>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
